<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		{% block head %}
		<title>{% block title %}{% endblock %} - RoboCup Junior</title>
		{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:image" content="/static/images/soccer/logo.png">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/static/images/apple-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="/static/js/main.js"></script>
	</head>
	<body>
		<div class="{% if auth.fixed_navbar %}navbar-fixed{% endif %}">
			<nav>
				<a href="#" data-activates="collapsed-nav" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="left hide-on-med-and-down">
					<li><a href="/">Home</a></li>
					<li><a href="{{ url_for('results') }}">Results</a></li>
					<li><a href="{{ url_for('rules') }}">Rules</a></li>
					{% if auth.is_admin %}
					<li><a href="{{ url_for('draws') }}">Draws</a></li>
					<li><a href="{{ url_for('games') }}">Games</a></li>
					<li><a href="{{ url_for('leagues') }}">Leagues</a></li>
					<li><a href="{{ url_for('messaging') }}">Messaging</a></li>
					<li><a href="{{ url_for('request_types') }}">Request Types</a></li>
					<li><a href="{{ url_for('teams') }}">Teams</a></li>
					<li><a href="{{ url_for('users') }}">Users</a></li>
					{% endif %}
					{% if auth.is_logged_in %}
					<li><a href="{{ url_for('scrutineer_teams') }}">Scrutineer</a></li>
					<li><a href="{{ url_for('referee') }}">Referee</a></li>
					<li><a href="{{ url_for('request') }}">Requests</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% else %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endif %}
				</ul>
				<ul class="side-nav" id="collapsed-nav">
					<li><a href="/">All Competitions</a></li>
					<li><a href="{{ url_for('results') }}">Results</a></li>
					<li><a href="{{ url_for('rules') }}">Rules</a></li>
					{% if auth.is_admin %}
					<li><a href="{{ url_for('draws') }}">Draws</a></li>
					<li><a href="{{ url_for('games') }}">Games</a></li>
					<li><a href="{{ url_for('leagues') }}">Leagues</a></li>
					<li><a href="{{ url_for('messaging') }}">Messaging</a></li>
					<li><a href="{{ url_for('request_types') }}">Request Types</a></li>
					<li><a href="{{ url_for('teams') }}">Teams</a></li>
					<li><a href="{{ url_for('users') }}">Users</a></li>
					{% endif %}
					{% if auth.is_logged_in %}
					<li><a href="{{ url_for('scrutineer_teams') }}">Scrutineer</a></li>
					<li><a href="{{ url_for('referee') }}">Referee</a></li>
					<li><a href="{{ url_for('request') }}">Requests</a></li>
					<li><a href="{{ url_for('logout') }}">Logout</a></li>
					{% else %}
					<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endif %}
				</ul>
				{% if auth.fixed_navbar %}
				<ul>
					<li>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search" class="text-grey"><i class="material-icons">search</i></label>
							<i class="material-icons close text-grey">close</i>
						</div>
					</li>
				</ul>
				{% endif %}
			</nav>
		</div>
		<div class="container">
		{% block content %}

		{% endblock %}
		</div>

		<footer class="page-footer white text-grey text-darken-3">
			<div class="container">
				<div class="row">
					<div class="col s8">
						<h4 class="black-text">Sponsors</h4>
						<div class="row">
							<div class="col s12 m4">
								<h5 class="truncate">Platinum National</h5>
								<a href="https://www.teaching.com.au/">
									<img alt="Modern Teaching Aids" src="/static/images/sponsors/mta.png">
								</a>
							</div>
							<div class="col s12 m4">
								<h5>National</h5>
								<a href="http://www.araa.asn.au">
									<img alt="Australian Robotics and Automation Association" src="/static/images/sponsors/araa.png">
								</a>
							</div>
							<div class="col s12 m4">
								<h5>Event</h5>
								<a href="https://www.unsw.edu.au/">
									<img alt="University of New South Wales" src="/static/images/sponsors/unsw.png">
								</a>
							</div>
						</div>
					</div>
					<div class="col s4">
						<h4 class="black-text">Social</h4>
						<ul>
							<li><a href="https://www.facebook.com/robocupjunioraustralia" class="grey-text text-darken-3">Facebook</a></li>
							<li>
								<a href="snapchat://" class="grey-text text-darken-3 hide-on-med-and-up" title="We have a Snapchat filter!">Snapchat</a>
								<a href="https://www.snapchat.com/" class="grey-text text-darken-3 hide-on-small-only" title="We have a Snapchat filter!">Snapchat</a>
							</li>
							<li><a href="https://www.twitter.com/?status=%23RCJA" class="grey-text text-darken-3">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright red lighten-1">
				<div class="container">
					&copy; 2017 <a href="http://www.robocupjunior.org.au/" class="grey-text text-lighten-4">RoboCupJunior Australia</a><span class="hide-on-med-and-down"> &bull; This site uses cookies for authentication and to improve performance.</span>
				</div>
			</div>
		</footer>
	</body>
</html>
