{% extends "base.html" %}
{% block title %}{{ league.name }}{% endblock %}
{% block content %}
	<div class="row">
		<h1>{{ league.name }}</h1>
	</div>
	<div class="row">
		<form class="col s12" action="{{ url_for('league', competition = comp.id, id = league.id) }}" method="post">
			<div class="row">
				<div class="input-field col s12">
					<input id="name" type="text" class="validate" minlength="3" name="name" value="{{ league.name }}">
					<label for="name">Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea id="requirements" class="validate" minlength="0" name="requirements">{{ league.requirements }}</textarea>
					<label for="requirements">Requirements</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input id="duration" type="number" class="validate" min="1" max="10" name="duration" value="{{ league.duration }}">
					<label for="duration">Half Duration (mins)</label>
				</div>
				<div class="input-field col s4">
					<input id="fields" type="number" class="validate" min="1" max="10" name="fields" value="{{ league.areas }}">
					<label for="fields">Fields</label>
				</div>
				<div class="col s2">
					<button class="btn waves-effect waves-light btn-large" type="submit" name="action" value="save">Save
					</button>
				</div>
				<div class="col s2">
					<button class="btn waves-effect waves-light btn-large red" type="submit" name="action" value="delete">Delete
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}