{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
	<div class="row">
		<h1>Login</h1>
	</div>
	<div class="row">
		<form class="col s12" action="{{ url_for('login') }}" method="post">
			<div class="row">
				<div class="input-field col s8">
					<input id="username" type="text" class="validate" minlength="3" name="username">
					<label for="username">Username</label>
				</div>
				<div class="col s4">
					<button class="btn waves-effect waves-light btn-large" type="submit" name="action" value="save">Next
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}