{% extends "base.html" %}
{% block title %}Referee{% endblock %}
{% block content %}
	<div class="row">
		<h1>Referee</h1>
	</div>
	<div class="row">
		<table>
			<thead>
				<tr>
					<th data-field="league">League</th>
					<th data-field="round">Round</th>
					<th data-field="field">Field</th>
					<th data-field="scheduled_time">Scheduled Time</th>
					<th data-field="home_team">Home</th>
					<th data-field="away_team">Away</th>
				</tr>
			</thead>
			<tbody>
			{% for game in games %}
				<tr>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.league.name }}</a></td>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.round }}</a></td>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.field }}</a></td>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.time() }}</a></td>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.home_team.name }}</a></td>
					<td><a href="{{ url_for('referee_game', competition = comp.id, id = game.id) }}">{{ game.away_team.name }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}