{% extends "base.html" %}
{% block title %}Kicker Power Measuring Device - Rules{% endblock %}
{% block content %}
	<h1>Kicker Power Measuring Device 2016</h1>
	<p>Last Modified: January 1, 2016 &bull; <a href="http://www.robocupjunior.org.au/sites/default/files/RCJASoccer-KickerPowerMeasuringDevice2016.pdf">View Official PDF</a></p>
	<h2>Contents</h2>
	<ol>
		<li><a href="#operations">Operation</a></li>
		<li><a href="#manufacture">Manufacture</a></li>
	</ol>
	<h2 id="operation">1 Operation</h2>
	<img alt="Measuring device in action" src="/static/images/soccer/kpmd-photo.jpg">
	<h3>1.1 Procedure</h3>
	<p>1.1.1. To test the kicker power of a robot:</p>
	<p>1.1.1.1. Place the ball at the bottom of the ramp, as shown in the figure above, and place the robot behind the ball. The robot must be facing towards the ramp and be positioned relative to the ball as it would be during normal gameplay when kicking.</p>
	<p>1.1.1.2. Activate the robot&rsquo;s kicker for a single shot. Hint: A special program or program mode is required that keeps the robot stationary, charges or prepares the kicker to its maximum power and then kicks.</p>
	<p>1.1.1.3. For a kicker to be legal, the ball must not travel past the 220mm mark on the ramp (i.e. it must not reach the trough at the end).</p>
	<h2 id="manufacture">2 Manufacture</h2>
	<h3>2.1 Materials</h3>
	<table>
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Item</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Plastic board (A4 paper size)</td>
			</tr>
			<tr>
				<td>5</td>
				<td>M3 Spacers (40mm length)</td>
			</tr>
			<tr>
				<td>10</td>
				<td>M3 Screws</td>
			</tr>
		</tbody>
	</table>
	<h3>2.2 Assembly</h3>
	<p>2.2.1. To assemble the Kicker Power Measuring Device:</p>
	<p>2.2.1.1. Print out the attached device schematics onto A4 paper at 100% size</p>
	<p>2.2.1.2. Paste the paper onto the plastic board so that the incline line (in red) is on a smooth edge.</p>
	<p>2.2.1.3. Cut out the ramp shape and drill out the holes.<br>2.2.1.4. Connect the two ramp pieces using the 40mm spacers.</p>
	<h2>Acknowledgements</h2>
	<p>The Kicker Power Measuring Device, and the majority of these instructions, are the work of the RoboCupJunior Soccer Technical Committee and have been used with permission by RoboCupJunior Australia.</p>
{% endblock %}