{% extends "base.html" %}
{% block title %}Lightweight and Open - Rules{% endblock %}
{% block content %}
	<h1>Lightweight and Open Soccer Rules 2016</h1>
	<p>Last Modified: January 1, 2016 &bull; <a href="http://www.robocupjunior.org.au/sites/default/files/RCJASoccer-LightweightOpen2016.pdf">View Official PDF</a></p>
	<h2>Contents</h2>
	<ol>
		<li><a href="#playing-field">Playing Field</a>
		</li>
		<li><a href="#ball">Ball</a>
		</li>
		<li><a href="#robots">Robots</a>
		</li>
		<li><a href="#game-play">Game Play</a>
		</li>
		<li><a href="#conflict-resolution">Conflict resolution</a>
		</li>
		<li><a href="#inspection">Inspection</a>
		</li>
		<li><a href="#code-of-conduct">Code of Conduct</a>
		</li>
	</ol>
	<h2 id="playing-field">1 Playing Field</h2>
	<h3>1.1 Floor</h3>
	<img alt="Field diagram with dimensions" src="/static/images/soccer/standard-field.png">
	<p><ins>1.1.1. The field has 50mm thick white lines 250mm from the walls on every side, which form the border of the out area (exclusive of the white lines). The floor is green carpet with neutral zones and penalty boxes marked with 25mm thick black lines, as shown above.</ins></p>
	<p>1.1.2. The <del>central playing area</del> <ins>field</ins> should be placed so that it is flat and level. <del>All white borders, including the ends of the field are flat and inclined by raising the outside of the border by 10mm (the incline should allow the ball to roll from the top of the side incline to the neutral area line).</del></p>
	<p>1.1.3. The field must be a carpet base. The recommended carpet is 3mm thick green outdoor carpet.</p>
	<p>1.1.4. The field may be placed on a wooden or plastic table or on the floor. Hint: It is recommended that robots are designed to cope with slight field imperfections up to 5mm.</p>
	<h3>1.2 Walls</h3>
	<p>1.2.1. Matte black walls are placed all around the field, including behind the goals.</p>
	<p>1.2.2. The walls are at least 80mm 100mm high above the playing field.</p>
	<p>1.2.3. The walls can be constructed of any material as they are not essential to game play.
	</p>
	<h3>1.3 Goals</h3>
	<p>1.3.1. The <ins>internal</ins> width of each goal is 450mm.</p>
	<p>1.3.2. <del>The back and sides of the goal interior are painted sky blue, using Dulux Sky Blue (P36D2) enamel spray paint.</del> <ins>The back and sides of one of the goal&rsquo;s interior is painted matte, similar to CMYK cyan, and the back and sides of the interior of the other goal is painted matte, similar to CMYK yellow.</ins> The floor is white and The external sides of the goals are painted matte black.</p>
	<p>1.3.3. The <ins>internal</ins> depth of each goal is 74mm.</p>
	<p>1.3.4. Each goal will have a black cross bar 140mm above the playing surface.</p>
	<p>1.3.5. The surface within the goal area is flat and level (horizontal).</p>
	<p>1.3.6. The side walls of the goals extend to the end wall to prevent the ball from rolling behind the goals.
	</p>
	<h3><ins>1.4 Neutral Zones</ins></h3>
	<p><ins>1.4.1. There are four neutral points, as shown on the field diagram in section 1.1.</ins></p>
	<p><ins>1.4.2. A neutral point is also designated in the middle of the field. This is only used for starting games and placing the ball after multiple calls of lack of progress, or if all other neutral points are occupied.</ins></p>
	<p><ins>1.4.3. The neutral points will be marked on the field, but are for human reference only.</ins>
	</p>
	<h3>1.5 Lighting and Magnetic Conditions</h3>
	<p>1.5.1. Teams must come prepared to calibrate their robots based on the lighting and magnetic conditions at the venue. Organizers will attempt to keep infrared light levels as low as possible and locate soccer fields away from magnetic fields, such as under floor wiring and metallic objects, however sometimes this cannot be avoided. Hint: It is recommended that teams design their robots to cope with variations in lighting and magnetic conditions, as these vary from venue to venue.
	</p>
	<h2 id="ball">2 Ball</h2>
	<h3>2.1 Specification</h3>
	<p><del>2.1.1. A well-balanced electronic ball with a diameter of 74mm shall be used.</del></p>
	<p><ins>2.1.1. An infrared ball that meets the RoboCupJunior Australia Soccer Ball Specification (available on the RCJA soccer web page) shall be used.</ins></p>
	<p>2.1.2. The ball will be used in a pulsed and stepped-waveform mode - the Elekit RCJ-05 ball <del>and the Hitechnic Infrared Electronic Ball (IRB 1005)</del> will be operated in MODE A (pulsed).
	</p>
	<h3>2.2 Ball Suppliers</h3>
	<p><del>2.2.1. The official balls for all RCJA tournaments will be the Hitechnic Infrared Electronic Ball (IRB 1005) available from Modern Teaching Aids.</del></p>
	<p><ins>2.2.1. The official balls for all RCJA tournaments will be the Elekit RCJ-05 soccer ball available from Modern Teaching Aids. Note: The older, dark-grey coloured infrared ball previously sold by HiTechnic is also acceptable.</ins>
	</p>
	<h2 id="robots">3 Robots</h2>
	<h3>3.1 Dimensions</h3>
	<p>3.1.1. The robot, as it will be positioned in gameplay, must fit inside an upright 220mm diameter cylinder.
	</p>
	<p>3.1.2. The robot height must be less than 220mm.
	</p>
	<p>3.1.3. <ins>For each league,</ins> the weight of each robot must not be more than the limit in the table below:
	</p>
	<table>
		<tbody>
			<tr>
				<td><ins>Open League</ins></td>
				<td><ins>2.5kg</ins></td>
			</tr>
			<tr>
				<td><ins>Lightweight League</ins></td>
				<td><ins>1.1kg</ins></td>
			</tr>
		</tbody>
	</table>
	<p>3.1.4. While being inspected, each robot must be positioned as it will be in gameplay and at its maximum size, i.e., anything that protrudes from the robot must be fully extended. If a robot has a moving part that extends in two directions, it will need to be inspected with this part operating. The robot must be able to operate without touching the measuring cylinder. Hint: It is recommended to design your robot to a smaller size, such as 210mm, to allow for tolerances.
	</p>
	<p>3.1.5. No voltage on a robot should exceed 15V during normal operation, <ins>except for a voltage pump used exclusively for a kicker, which must not exceed 70V (see section 3.8 for kicker limitations).</ins> Hint: Batteries with nominal voltages below 15V but that exceed this limit when fully charged, such as 4 cell LiPos, are allowed.
	</p>
	<h3>3.2 Control</h3>
	<p>3.2.1. Robots must be controlled autonomously.</p>
	<p>3.2.2. Robots must be able to be started manually.</p>
	<p>3.2.3. The use of remote control of any kind is not allowed.</p>
	<p>3.2.4. Robots must be able to move in all directions.</p>
	<p>3.2.5. Communication between robots is acceptable as long as it does not interfere with the performance of other robots, is not detectable outside the venue and complies with local regulations regarding frequency use and safety.</p>
	<p>3.2.6. Robots must have the ability to have their communication disabled at the request of the referee.
	</p>
	<h3>3.3 Marking/Colouring</h3>
	<p>3.3.1. Competitors must mark or decorate their robots to identify them as belonging to the same team. These must not influence game play and will not be considered in the height restrictions.</p>
	<p>3.3.2. Colours of robots and/or light transmitters must not interfere with the sensor readings of other robots. <ins>Hint: Avoid having cyan or yellow visible on the outside of the robot as it may interfere with other robots if they are using cameras.</ins>
	</p>
	<h3>3.4 Teams and Leagues</h3>
	<p>3.4.1. All teams shall consist of no more than two (2) robots. Any substitution of extra robots during a tournament is forbidden and disqualification will result. Teams cannot enter the competition venue with more than two constructed robots.
	</p>
	<h3>3.5 Construction</h3>
	<p>3.5.1. Any material or building block, either commercial or from raw hardware may be used, as long as the robot fits the specifications and the design and construction are primarily and substantially the original work of the competitor(s) (see section 6.2).</p>
	<p>3.5.2. Robots must have a handle for referees to easily pick them up. The handle will not be included in above height measurements. Hint: Cable ties make a strong lightweight handle.
	</p>
	<h3>3.6 Ball Capturing Zones and Movement</h3>
	<p>3.6.1. Ball Capturing Zones are defined as any internal space created when a straight edge is placed on the protruding points of a robot.</p>
	<p>3.6.2. The ball cannot penetrate the Ball Capturing Zone by more than 30mm.</p>
	<p>3.6.3. A robot cannot &quot;hold&quot; a ball. Hint: Holding a ball means taking full control of the ball by removing all of its degrees of freedom. For example, this would mean fixing a ball to the robot&#39;s body, surrounding a ball using the robot&#39;s body to prevent access by others, encircling the ball or somehow trapping the ball with any part of the robot&#39;s body. If a ball stops rolling while a robot is moving or a ball does not rebound when rolled into a robot, it is a good indication that the ball is trapped.</p>
	<p>3.6.4. The ball cannot be held underneath a robot, i.e. no part of a robot can protrude over more than 30 mm of the ball&rsquo;s <ins>projected</ins> diameter.</p>
	<p>3.6.5. The only exception to rule 3.6.3 is the use of a rotating drum that imparts dynamic backspin on the ball to keep the ball on its surface. This is called a &quot;dribbler&quot;.</p>
	<p>3.6.6. A dribbler must comply with Rules 3.6.2 and 3.6.4. The 30mm is measured from the contact point of the dribbler on the ball.</p>
	<p>3.6.7. A robot using a dribbler must release the ball in order to score a goal.
	</p>
	<h3>3.7 Goalies</h3>
	<p>3.7.1. If a goalie is used, it cannot limit its movement to a single direction on the field. It must be programmed to move in all directions.</p>
	<p>3.7.2. The goalie must respond to the ball in a forward direction in an attempt to intercept the ball ahead of the goal. If required, its movement should be able to take some part of the robot outside of the penalty box (300mm from the goal). Hint: The goalie cannot respond sideways, followed by a forward movement.</p>
	<p>3.7.3. Failure to respond to the ball with a forward movement down the field will result in the robot being classified as &quot;Damaged.&quot; (Section 4.7)
	</p>
	<h3>3.8 Batteries, Kickers, and Robot Power</h3>
	<p>3.8.1. If a robot damages a ball or the field, it will be removed from play and receive a time penalty as a damaged robot. A yellow warning sticker will be placed on the robot and the referee will record the infringement on the scorecard.</p>
	<p>3.8.2. In the event of two colliding robots damaging a ball, both robots will be removed and given a yellow sticker. If the referee considers one robot to be significantly more aggressive than the other, they can choose to remove that robot from play.</p>
	<p>3.8.3. Adjustments must be made to the robot/s to prevent this from recurring.</p>
	<p>3.8.4. If a robot infringes again during the tournament, it will be disqualified from the tournament. Hint: If a robot has the power to damage an officially accepted RoboCupJunior Soccer ball (see section 2.2.1), it is a strong indication that the robot has been built with excessive power and the intention to damage other robots. Therefore, the robot has not been built with the ideals of RoboCupJunior and fair competition in mind, so the tournament committee has every right to remove that robot from the competition.</p>
	<p>3.8.5. Due to safety reasons, Lithium Polymer batteries can only be used in conjunction with commercially produced, dedicated balanced Lithium Polymer battery chargers and fireproof charging bags. These batteries can explode due to incorrect charging and discharging (check manufacturer&#39;s recommendations), or if they are damaged.</p>
	<p>3.8.6. Any kicking device must not exceed the limitations of the &ldquo;Kicker Power Measuring Device&rdquo;. During inspection, or at the referee&rsquo;s discretion, any robots with a kicker device may be tested to ensure the kicker strength is within the requirements. Robots that exceed the limitations must decrease the power of, or disable, the kicker. Hint: Information on how to build and use the &ldquo;Kicker Power Measuring Device&rdquo; is available on the RCJA Soccer webpage as a separate document, and all teams are recommended to test their kickers prior to the competition. Teams should ensure that their robots have the ability to demonstrate kicking when required. A special program or program mode is recommended that charges or prepares the kicker and then fires at the same strength as during normal game play.
	</p>
	<h2 id="game-play">4 Game Play</h2>
	<h3>4.1 Pre-game setup</h3>
	<p>4.1.1. Organizers will provide access to the competition area for calibration and testing prior to the competition and according to a schedule that will be made available at the start of the event.</p>
	<p>4.1.2. Organizers will make every effort to allow at least 10 minutes of setup time before each game.</p>
	<p>4.1.3. This time is also for teams to express any concerns about the legality of opposing robots.
	</p>
	<h3>4.2 Length of Game</h3>
	<p>4.2.1. The game will consist of two 10-minute halves. Some competitions may choose to run 5-minute halves at the discretion of the tournament organizing committee.</p>
	<p>4.2.2. There will be a 5-minute break in between the halves.</p>
	<p>4.2.3. The game clock will run for the duration of the game (two 10 minute halves), without stopping (except as noted in Referee&rsquo;s Timeout in section 4.9.4).</p>
	<p>4.2.4. Teams can be penalized one goal per minute at the referee&#39;s discretion if they are late.</p>
	<p>4.2.5. If a team does not report within 5 minutes of the game start, they will forfeit the game and the winning team awarded a 5-0 scoreline.</p>
	<p>4.2.6. A game will end when there is a goal difference of 10 goals. The losing team may elect to continue playing, but the recorded score (10 goal difference) will not change.
	</p>
	<h3>4.3 Start of Game</h3>
	<p>4.3.1. At the start of the first half of the game, the referee will toss a coin and the team first mentioned in the draw shall call the coin while it is in the air.</p>
	<p>4.3.2. The winner of the toss can choose either (a) which end to kick to, or (b) to kick off first.</p>
	<p>4.3.3. The loser of the toss will decide the other option.</p>
	<p>4.3.4. The team not kicking off in the first half of the game will kick off to begin the second half.
	</p>
	<h3>4.4 Kick-Offs</h3>
	<p>4.4.1. Each half of the game begins with a kick-off.</p>
	<p>4.4.2. All robots must be located on their defensive side of the field.</p>
	<p>4.4.3. Robots must not be running.</p>
	<p>4.4.4. The ball is positioned by the referee in the center of the field.</p>
	<p>4.4.5. The team kicking off places their robots on the field first. Robots cannot be moved once they have been placed.</p>
	<p>4.4.6. All robots on the team not kicking off must have some part of the robot in the penalty box.</p>
	<p>4.4.7. On the referee&#39;s command, all robots will be started immediately by human team members.</p>
	<p>4.4.8. The robot kicking off must make a clear strike of the ball and it must roll clear of the robot by at least 50mm or the robot must start at least 50mm from the ball. An illegal kick off will result in the opposing team being granted the kick off.</p>
	<p>4.4.9. Any robots that are started before the referee&rsquo;s command will be removed from the field for one minute.
	</p>
	<h3>4.5 Scoring</h3>
	<p>4.5.1. A goal is scored when the whole of the ball crosses the goal line. This coincides with the ball striking the back wall of the goal. The referee will announce the goal.</p>
	<p>4.5.2. A penalty goal will be awarded if a ball deemed to be traveling into the goal strikes a defensive robot that has some part of it over the goal line and in the &quot;in goal&quot; area.<br>Hint: Robots should be built in a manner that the cross bar prevents them from going behind the goal line.</p>
	<p>4.5.3. After a goal is scored, a kick-off will occur. The non-scoring team will be awarded the ball.</p>
	<p>4.5.4. &quot;Own goals&quot; will be treated as a goal to the opposition.
	</p>
	<h3>4.6 Lack of Progress</h3>
	<p>4.6.1. This occurs if the ball is stuck between multiple robots (&ldquo;forcing&rdquo; situation) for a reasonable amount of time and has no chance of being freed or if no robot has any chance of locating the ball in a reasonable amount of time.</p>
	<p>4.6.2. The referee will call &quot;Lack of Progress&quot; immediately when a robot is using greater power to &ldquo;force&rdquo; the ball past the opposition. If a referee is slow to remove the ball and a goal is scored as a direct result of a robot &ldquo;forcing&rdquo; the ball through, the goal will be disallowed and the ball placed on the nearest neutral point.</p>
	<p>4.6.3. In the case of Lack of Progress, the ball will first be moved to the nearest neutral point.. If this occurs again, the ball will be moved to the centre of the field.</p>
	<p>4.6.4. When Lack of Progress is called, any stuck robots will be freed using minimal movement by the referee or team captains at the request of the referee. Stuck robots should not be moved at any other time.
	</p>
	<h3>4.7 Damaged Robots</h3>
	<p>4.7.1. If a robot does not move and/or does not respond to the ball, it will be deemed damaged by the referee.</p>
	<p>4.7.2. If a single robot remains in the goal area for longer than 20 seconds, or is stuck against walls or goals, and shows no indication of returning to the playing area, it will be deemed damaged by the referee. Hint: A small reverse command in a program will usually free a stuck robot.</p>
	<p>4.7.3. The referee or players (with the referee&rsquo;s permission following a player request) may remove a damaged robot(s) from the field.<br>4.7.4. A damaged robot must remain off the field for at least one minute or until a goal is scored.</p>
	<p>4.7.5. A damaged robot must be repaired and may be returned with the referee&rsquo;s permission to the neutral point that is closest to the goal they are defending and does not advantage that robot, i.e.. not facing the ball. Goalies may be returned to the area in front of the goal.</p>
	<p>4.7.6. Play will continue during removal, repair and replacement. Note that the referee may choose to interrupt play if robot damage occurred because of a collision with another opposition robot.</p>
	<p>4.7.7. If a robot turns over, it will be treated as a damaged robot and removed. The exception to this rule is if the robot is tipped over after a collision with an opposition robot, it can be righted by the referee and continue playing.</p>
	<p>4.7.8. If the whole of a robot <del>leaves the playing area</del> <ins>enters the out area (i.e. fully enters the area between the walls and white line)</ins>, it will be deemed to be damaged and removed from the field for one minute or until a goal is scored. Robots must attempt to stay on the playing field at all times. This will not apply if the referee has deemed that the robot has been pushed out by another robot or that the robot has made an attempt to stay on the field of play. Hint: Under no circumstances should the robot leave the playing area of its own accord, however the robot should be able to navigate back to the playing area if the robot is pushed out. <ins>This rule will be strictly enforced in both leagues.</ins>
	</p>
	<h3>4.8 Ball Out Of Play</h3>
	<p>4.8.1. A ball is considered out of play if it leaves the playing area.</p>
	<p>4.8.2. After a ball is considered out of play, it will be moved to the nearest neutral point to the disadvantage of the team that last touched it. Typically, this is the neutral point in the direction that the opposition are kicking.
	</p>
	<h3>4.9 Interruption of Game Play</h3>
	<p>4.9.1. The situations listed in sections 4.6 - 4.8 may cause play to be interrupted, usually resulting in the movement of the ball to the nearest neutral zone while play is allowed to continue.</p>
	<p>4.9.2. Play may also be stopped by the referee but the game clock is not stopped, unless at the discretion of the referee. All robots must be stopped immediately and returned to their position at the time play was halted.</p>
	<p>4.9.3. After a stoppage in play, play will resume on the referee&#39;s signal and all robots will be started simultaneously.</p>
	<p>4.9.4. A referee may call &ldquo;Referee&rsquo;s Timeout&rdquo; for field repair, situations, such as in section 4.7.7 or 4.11.3, or if the tournament referee is called for rule clarification. The referee can elect to stop the match clock if the stoppage is lengthy.
	</p>
	<h3>4.10 Multiple Defense</h3>
	<p>4.10.1. Multiple Defense occurs if more than one robot from the defending side enters the penalty area, takes up a defensive position and substantially affects the game.</p>
	<p>4.10.2. For a &quot;Multiple Defense&quot;, the robot having the least influence on play is moved to the centre of field. In the case where a goalie is involved, the other player will be moved.
	</p>
	<h3>4.11 Fouls</h3>
	<p>4.11.1. If a robot utilizes a device or an action which continuously attacks or charges a robot not in possession of the ball, the referee will call &quot;Foul&quot;. The team captain must then remove the robot from the playing field for at least one minute and correct the problem; play will continue (as in section 4.7 &quot;Damaged Robots&quot;).</p>
	<p>4.11.2. If the robot continues to Foul, it will be permanently removed from the game, a yellow warning sticker will be placed on the robot/s and the referee will record the infringement on the scorecard.</p>
	<p>4.11.3. If a robot is damaged by a foul, the referee will stop the game and stop the clock for up to 2 minutes while repairs are made. (See Referee&rsquo;s Timeout section 4.9.4)</p>
	<p>4.11.4. If a robot is removed from two games for &ldquo;fouling&rdquo;, it will be disqualified from the tournament.
	</p>
	<h3>4.12 Free Kicks, Penalty Kicks and Offside</h3>
	<p>4.12.1. There are no free kicks, penalty kicks or offside rules.
	</p>
	<h3>4.13 Humans</h3>
	<p>4.13.1. In general, movement of robots by humans is not acceptable.</p>
	<p>4.13.2. Humans can only move robots at the instruction of the referee.</p>
	<p>4.13.3. Before the start of each match, teams should designate one human who will act as &quot;Captain&quot;, and be allowed to place, remove and replace robots during the game, based on the stated rules and as directed by the referee.</p>
	<p>4.13.4. Other team members may start one robot, but after this, they are not allowed within the vicinity of the playing field. They are to remain more than one metre from the field while the ball is in play, unless otherwise directed by the referee.</p>
	<p><ins>4.13.5. If requested, the team captain and team members starting the robots must be able to cover up any cyan or yellow on their person or equipment that interferes with the sensors of the other team&rsquo;s robots (see also: section 3.3.2).</ins>
	</p>
	<h3>4.14 Tied Games</h3>
	<p>4.14.1. In the event of a tie at full time during a non-finals game, the tied score will be recorded.</p>
	<p>4.14.2. In the event of a tie at full time during a finals game, the following procedure will be followed:</p>
	<p>4.14.2.1. Game play will not be stopped or interrupted.</p>
	<p>4.14.2.2. The game will continue as &ldquo;golden goal&rdquo;. As soon as a goal is scored, the game will end.</p>
	<p>4.14.2.3. If after five minutes, no additional goal has been scored, then only one robot from each team will be allowed on the field. Any team with two robots on the field must pick one robot to be taken off the field, then &ldquo;golden goal&rdquo; gameplay will continue. The robot chosen to be removed from the field is not allowed back on the field for the remainder of the game.
	</p>
	<p>4.14.2.4. If after an additional five minutes, no team has scored a golden goal, the team who is ranked higher in the seeding will be considered to have won the game.
	</p>
	<h2 id="conflict-resolution">5 Conflict Resolution</h2>
	<h3>5.1 Referee</h3>
	<p>5.1.1. During game play, the referee&#39;s decisions are final. Any argument with a referee&#39;s decision will result in a Yellow Warning Card. If argument continues, the referee will give a Red Card resulting in immediate forfeit of the game.</p>
	<p>5.1.2. If team captains are satisfied with the result of a game, they are to sign the score sheet at the conclusion of game play.</p>
	<p>5.1.3. Any protest after the game should only be if the scoring is believed to be incorrect, or if a game result is in doubt. After signing the score sheet, no protests can be lodged.
	</p>
	<h3>5.2 Rule clarification</h3>
	<p>5.2.1. Rule clarification may be made by members of the RoboCupJunior Australia Technical Committee.</p>
	<p>5.2.2. If a rule clarification is needed, the referee should stop the game immediately, call referee&rsquo;s timeout (Section 4.9.4), stop the clock and confirm the ruling before continuing with the game.
	</p>
	<h3>5.3 Special Circumstances</h3>
	<p>5.3.1. Specific modifications to the rules to allow for special circumstances, such as unforeseen problems and/or capabilities of a team&#39;s robots, may be agreed to at the time of the tournament, provided a majority of the contestants agree.
	</p>
	<h2 id="inspection">6 Inspection</h2>
	<h3>6.1 Scrutineering</h3>
	<p>6.1.1. All robots will be examined by a panel of referees before the start of each day of the tournament to ensure that the robots meet all constraints described in section 3.</p>
	<p>6.1.2. It is the responsibility of teams to have their robots re-inspected if their robots have been modified at any time during the tournament. This also includes damage or changes during game play. Any team that is deemed to have an illegal robot following a game, will forfeit that game.</p>
	<p>6.1.3. Any violations of the inspection rules will prevent that robot from competing until modifications are made.</p>
	<p>6.1.4. Modifications must be made within the time schedule of the tournament and teams must not delay game play while making modifications.</p>
	<p>6.1.5. The inspection may include, but is not limited to, checking the size, weight, ball capture zone depth, maximum voltage, and kicker strength (using the &ldquo;Kicker Power Measuring Device&rdquo;) of each robot. It may also include a test to demonstrate the robot&rsquo;s capability to stay within the playing field and not travel into the out area.
	</p>
	<h3>6.2 Robot Construction</h3>
	<p>6.2.0. Construction and programming of robots has to be performed exclusively by the competitors.</p>
	<p>6.2.1. Competitors will be interviewed to explain the operation of their robots in order to verify that the construction and the programming of the robot is their own work.</p>
	<p>6.2.2. Competitors will be asked questions about their preparation efforts, and they may be requested to answer surveys and participate in recorded interviews for research purposes.</p>
	<p>6.2.3. Commercial kits may be used but must be substantially modified by the competitors.</p>
	<p>6.2.4. Proof of a full understanding of the program must be shown.</p>
	<p>6.2.5. It is expected that tournament organizers will conduct verification interviews prior to the finals of all events.</p>
	<p>6.2.6. If there is excessive mentor assistance or the work on the robots is not substantially original work by the competitors, then the team will be disqualified from the tournament.</p>
	<h2 id="code-of-conduct">7 Code of Conduct</h2>
	<h3>7.1 Fair Play</h3>
	<p>7.1.1. Robots that cause deliberate interference and repeated damage to structurally sound robots during normal game play will be disqualified (see section 4.11).</p>
	<p>7.1.2. Robots that cause damage to the field or the ball during normal game play will be disqualified from the tournament (see section 3.8).</p>
	<p>7.1.3. Humans that cause deliberate interference with any robots or damage to the field or the ball will be disqualified from the tournament.</p>
	<p>7.1.4. It is expected that the aim of all teams is to play a fair and clean game of robot soccer. It is expected that all robots will be built with sections 3.8 and 4.11 in mind. Hint: If robots are built to the upper limits of power and weight, they must anticipate the possibility of damaging other robots or the ball. Officially endorsed RoboCupJunior balls have been tested for robustness and are not damaged in normal RoboCupJunior Australia game play.
	</p>
	<h3>7.2 Behavior</h3>
	<p>7.2.1. All movement and behavior is to be of a subdued nature within the tournament venue.</p>
	<p>7.2.2. Competitors are not to enter setup areas of other leagues or other teams, unless expressly invited to do so by team members.</p>
	<p>7.2.3. Participants who misbehave may be asked to leave the building and risk being disqualified from the tournament.</p>
	<p>7.2.4. These rules will be enforced at the discretion of the referees, officials, conference organizers and local law enforcement authorities.
	</p>
	<h3>7.3 Mentors</h3>
	<p>7.3.1. Mentors (teachers, parents, chaperones and other adult team-members) are not allowed in the competitor&rsquo;s work area.</p>
	<p>7.3.2. Sufficient seating will be supplied for mentors to remain in a supervisory capacity around the competitor&rsquo;s work area.</p>
	<p>7.3.3. Mentors are not to repair robots or be involved in the programming of robots. Robots or computers should not need to leave the competitor&rsquo;s work area during the day&rsquo;s game play.</p>
	<p>7.3.4. Mentor interference with robots or referee decisions will result in a yellow card warning in the first instance. If this reoccurs, a red card will be awarded and the mentor will be asked to leave the venue.
	</p>
	<h3>7.4 Sharing</h3>
	<p>7.4.1. An understanding that has been a part of world RoboCup Competitions is that any technological and curricular developments should be shared with other participants after the competition.</p>
	<p>7.4.2. Any developments may be published on the RoboCupJunior web site after the event.</p>
	<p>7.4.3. This furthers the mission of RoboCupJunior as an educational initiative.</p>
	<p>7.4.4. Teams are encouraged to publish footage of highlights on YouTube and social media, tagging &ldquo;RoboCupJunior Australia Soccer&rdquo; or its social media pages. Prizes may be awarded for the best clips at the discretion of the tournament organizers.
	</p>
	<h3>7.5 Spirit</h3>
	<p>7.5.1. It is expected that all participants, competitors and mentors alike, will respect the RoboCupJunior Australia mission.</p>
	<p>7.5.2. The referees and officials will act within the spirit of the event.</p>
	<p>7.5.3. It is not whether you win or lose, but how much you learn that counts.</p>
{% endblock %}