{% extends "base.html" %}
{% block title %}Rules{% endblock %}
{% block content %}
	<div class="row">
		<h1>Rules</h1>
	</div>
	<div class="row">
		<a class="btn waves-effect waves-light btn-large" href="{{ url_for('rules_gen2') }}">GENII</a>
	</div>
	<div class="row">
		<a class="btn waves-effect waves-light btn-large" href="{{ url_for('rules_lwopen') }}">Lightweight / Open</a>
	</div>
	<div class="row">
		<a class="btn waves-effect waves-light btn-large" href="{{ url_for('rules_kpmd') }}">Kicker Testing</a>
	</div>
	<div class="row">
		<a class="btn waves-effect waves-light btn-large" href="{{ url_for('rules_ball') }}">Soccer Ball</a>
	</div>
	<style type="text/css">
		a {
			width: 100%;
		}
	</style>
{% endblock %}